/* src/App.css */

/* Center the form container */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:yellow;

}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: pink;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
   
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#ff0000;
}

